<div class="container-fluid bg-light">
    <div class="container-fluid parent">
        <div class="row">
            <div class="col">
                <label>Expense Calculator</label>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-6">
                <form>
                    <div class="row align-items-center g-3">
                        <div class="col-auto imput-group">
                            <label class="visually-hidden" for="inputEmail">Funds</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Funds added">
                        </div>
                        <div class="col-auto">
                            <label class="visually-hidden" for="inputPassword">Investment balance</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Invest. balance">
                        </div>
                        <div class="col-auto">
                            <div class="input-group">
                                <select class="form-select">
                                    <option selected>Choose...</option>
                                    <option>500</option>
                                    <option>600</option>
                                    <option>1000</option>
                                </select>
                            </div>
                        </div>
                       
                    </div>
                    <div class="row align-items-center my-3">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-auto"></div>
        </div>
    </div>